<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-background"><img src="/assets/intro-carousel/1.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Get the answers you need</h2>
                  <p>We get answers for 20 million questions daily. Get the feedback you need with a global leader in survey software.</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-background"><img src="/assets/intro-carousel/2.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Make a difference as a consumer</h2>
                  <p>Your opinion can change the products of tomorrow, today.</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-background"><img src="/assets/intro-carousel/3.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>For your organization</h2>
                  <p>Manage your company’s data with advanced security and control, so you can enable your teams to share and collaborate safely.</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-background"><img src="/assets/intro-carousel/4.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Ask more, know more, do more.</h2>
                  <p>Capture real voices and opinions instantly.</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-background"><img src="/assets/intro-carousel/5.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>Build better customer experiences</h2>
                  <p>The easier, faster & smarter way to power your omni-channel experience management program</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>

    <main id="main">
      <section id="featured-services">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 box">
              <i class="fa fa-bookmark-o"></i>
              <h4 class="title"><a href="">Design surveys with confidence</a></h4>
              <p class="description">Do more with your data. Turn insights into action with sophisticated surveys perfect for any use case.</p>
            </div>
            <div class="col-lg-4 box box-bg">
              <i class="fa fa-clock-o"></i>
              <h4 class="title"><a href="">Reach the people that matter most</a></h4>
              <p class="description">Find more ways to sample your audience. Use our survey collectors to send out via email, mobile, chat, web, social media, and more.</p>
            </div>
            <div class="col-lg-4 box">
              <i class="fa fa-heart-o"></i>
              <h4 class="title"><a href="">Maximize your data’s potential</a></h4>
              <p class="description">Getting answers to your questions is just the beginning. Extract and share actionable insights with your team so you can drive business forwar</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <section id="about">
      <div class="container">
        <header class="section-header">
          <h3>About Us</h3>
          <p>OnSurvey is a universal feedback management system that provides an online platform to create feedback forms, automate response collection and report generation for myriad of domains,it offer's one of the most advanced comprehensive feedback tools that allow user to extract more out of their feedback forms, empowering quick decisions.</p>
        </header>

        <div class="row about-cols">
          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/assets/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa fa-tachometer"></i></div>
              </div>
              <h2 class="title"><a href="#">Survey quality metric</a></h2>
              <p>Use SurveyMonkey Genius to predict how well your survey will perform.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/assets/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa fa-list"></i></div>
              </div>
              <h2 class="title"><a href="#">Custom reports</a></h2>
              <p>Use custom filters to create multiple views of your data.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/assets/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa fa-eye"></i></div>
              </div>
              <h2 class="title"><a href="#">Shared asset library</a></h2>
              <p>Share resources across your organization (guidelines, logos, templates etc.)</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Be an influencer. Share your opinion to help brands deliver better products & services.</p>
        </header>

        <div class="row">
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title"><a href="">Customers</a></h4>
            <p class="description">In fact, we’ve found that businesses who measure customer satisfaction are 33% more likely to describe themselves as successful than those who don’t.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-bookmark-o"></i></div>
            <h4 class="title"><a href="">Employees</a></h4>
            <p class="description">If you want to recruit and retain the best talent possible, employee surveys can play a big part by helping you understand the impact of existing policies and identify areas...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-newspaper-o"></i></div>
            <h4 class="title"><a href="">Coworkers</a></h4>
            <p class="description">With our online quiz maker, you’ll also get tracking to see who completed your survey. You can easily see rankings and segment your data too.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-tachometer"></i></div>
            <h4 class="title"><a href="">Prospects</a></h4>
            <p class="description">It’s easy to conduct market research online using market research surveys. They’re an affordable and reliable way to gather information from your target markets.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-barcode"></i></div>
            <h4 class="title"><a href="">Events</a></h4>
            <p class="description">Send a survey to invitees to get an accurate headcount and tailor your event according to their preferences. With OnSurvey, you can even accept payments in your surveys.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title"><a href="">Your Choice</a></h4>
            <p class="description">With our methodologist-certified survey templates, you can create many types of surveys and get the answers you need to make better decisions.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call To Action</h3>
        <p>Scale up with OnSurvey Secure your confidential data, administer and control your company’s accounts, and empower your team to easily share insights and collaborate.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section>

    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h3>Contact Support</h3>
          <p>Having trouble? Submit the form below.</p>
        </div>

        <div class="row contact-info">
          <div class="col-md-4">
            <div class="contact-address">
              <i class="fa fa-map-marker"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="fa fa-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="fa fa-envelope-o"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>
        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-info">
              <h3>OnSurvey</h3>
              <p>Trademarks including "OnSurvey" are the property of Survey, all rights reserved. All non-Survey owned trademarks appearing on this site are property of their respective owners.</p>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>OnSurvey</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Testimonials</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Support</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">Contact Us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Help Center</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Terms & Conditions</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a></li>
              </ul>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Join 100+ subscribers & get a hand picked list of the best user experience design links every months.</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit"  value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>OnSurvey</strong>. All Rights Reserved
        </div>
      </div>
    </footer>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </body>
</html>
